/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Raytracer
/cmake-build-debug/Raytracer.cbp
/cmake-build-debug/Raytracer.exe
/cmake-build-debug/Raytracer.ilk
/cmake-build-debug/Raytracer.pdb
/cmake-build-debug/image.ppm
/cmake-build-debug/
